@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p><strong>Servers:</strong> @ViewData["Servers"]</p>

<p>Use this area to provide additional information.</p>
