<!DOCTYPE html>

<html>
<head>
    <title>Hello, world!</title>
</head>
<body>
    <div>
        <p>Welcome to ASP.NET Core distributed caching sample project!</p>

        <p>Generated information: @(Guid.NewGuid().ToString() + " - " + DateTime.Now)</p>
        
        <distributed-cache name="foo-wing-wang">
            <p>Generated and then cached information: @(Guid.NewGuid().ToString() + " - " + DateTime.Now)</p>
        </distributed-cache>
    </div>
</body>
</html>