@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Logging Example</h1>
    <p class="lead">This example ASP.NET site demonstrates Common Logging, log4net, and Couchbase .NET SDK.</p>
    <p><a href="TODO" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>N1QL</h2>
        <p>
            Execute a N1QL query that returns all "FooBar" documents from the bucket.
        </p>
        <p><a class="btn btn-default" href="/Home/N1qlExample">N1QL &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Key/Value</h2>
        <p>Use key/value operations to create a new document and get that document by key.</p>
        <p><a class="btn btn-default" href="/Home/KeyValueExample">Key/Value &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Logging</h2>
        <p>View the logging that has been generated so far.</p>
        <p><a class="btn btn-default" href="/Home/ViewLogs">Logs &raquo;</a></p>
    </div>
</div>