<template>
    <h1>Distance search</h1>

    <p>This component demonstrates a map component that makes geospatial search requests.</p>

    <ol>
        <li>Click on the map to select a point.</li>
        <li>Specify the distance of the search radius in miles.</li>
        <li>Click "search" to use Couchbase's Geospatial FTS to find any points within that area.</li>
    </ol>

    <!-- tag::form[] -->
    <p>
        Distance search:
        <br />
        Latitude: <input type="text" value="${ latitude }" />
        Longitude: <input type="text" value="${ longitude }" />
        <br />
        Distance (miles): <input type="text" value="${ distance }" />
        <br />
        <input if.bind="latitude" click.trigger="searchClick()" type="button" name="search" value="Search" />
    </p>
    <!-- end::form[] -->

    <h3 if.bind="markers">${ markers.length } result(s) found.</h3>

    <p if.bind="!markers"><em>Loading...</em></p>

    <google-map if.bind="markers"
                map-click.delegate="clickMap($event)"
                latitude="37.780986253433895"
                longitude="-122.45291600632277"
                zoom="12"
                markers.bind="markers">
    </google-map>

</template>
