<template>
    <h1>Bounding box search</h1>

    <p>This component demonstrates a map component that makes geospatial search requests.</p>
    
    <ol>
        <li>Click on the map to select the top left point of the bounding box.</li>
        <li>Click again to select the bottom right point.</li>
        <li>Click "search" to use Couchbase's Geospatial FTS to find any points within that bounding box.</li>
    </ol>
    
    <!-- tag::form[] -->
    <p>
        Bounding box search:
        <br />
        Latitude (top left):
            <input type="text" value="${ latitudeTopLeft }" />
        Longitude (top left):
            <input type="text" value="${ longitudeTopLeft }" />
        <br />
        Latitude (bottom right):
            <input type="text" value="${ latitudeBottomRight }" />
        Longitude (bottom right):
            <input type="text" value="${ longitudeBottomRight }" />
        <br />
        <input
            if.bind="latitudeTopLeft && latitudeBottomRight"
            click.trigger="searchClick()"
            type="button"
            name="search"
            value="Search" />
    </p>
    <!-- end::form[] -->

    <p if.bind="!markers"><em>Loading...</em></p>
    
    <!-- tag::googlemap[] -->
    <google-map
        if.bind="markers"
        map-click.delegate="clickMap($event)"
        latitude="37.780986253433895"
        longitude="-122.45291600632277"
        zoom="12"
        markers.bind="markers">
    </google-map>
    <!-- end::googlemap[] -->


</template>
