@model Couchbase.IOperationResult<dynamic>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>Created a new document:</p>
<ul>
    <li>ID: @Model.Id</li>
    <li>Document: @Model.Value</li>
</ul>
